streamlit
supabase==2.4.0
httpx==0.24.1
httpcore==0.17.3

numpy
pandas
pillow

opencv-python-headless
#face-recognition-binary
#scikit-learn

#librosa
#resemblyzer
#dlib

bcrypt
segno

setuptools<70
wheel
cmake
