streamlit
supabase==1.0.3

# Utilities
numpy
pandas
pillow

# Face Recognition
opencv-python-headless
face-recognition
dlib
scikit-learn

# Audio
librosa
resemblyzer

# Other
bcrypt
segno

# Compatibility
setuptools<70.0.0
