supabase==1.0.3
streamlit
# Utilitites 
numpy
pandas

# FACE RECOGNITION
scikit-learn
dlib
setuptools<70.0.0
git+https://github.com/ageitgey/face_recognition_models



bcrypt

segno
pillow

librosa
resemblyzer
